<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieLover</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="text-center" id="anime">
        <p class="font-weight-bold text-center"> ANIME </p>
        <a><img src="https://pics.filmaffinity.com/Death_Note_TV_Series-660373023-large.jpg" height="200px" /> </a>
        <a><img src="https://pics.filmaffinity.com/fullmetal_alchemist_brotherhood_tv_series-856216430-large.jpg" height="200px" /> </a>
        <a><img src="https://resizing.flixster.com/JYoaK4ZjZO8r9IFc8BLNnNagrXg=/fit-in/1152x864/v1.dDszMTg1MTI7ajsxODc2ODsxMjAwOzEyMDA7MTgwMA?fbclid=IwAR32vpZaBiTM-PeETU98mlxbrjHkHYPhpirYkHWMHp56I1_NombM3ykLQiM" height="200px" /> </a>
    </div>
    <div class="text-center" id="anime">
        <p class="font-weight-bold text-center" style="margin-top:20px;"> COMEDY</p>
        <a><img src="https://upload.wikimedia.org/wikipedia/el/thumb/7/76/Home_alone_poster.jpg/230px-Home_alone_poster.jpg" height="200px" /> </a>
        <a><img src="https://x-files-dvd-club.webnode.gr/_files/200000242-79af879afc/unnamed.png" height="200px" /> </a>
        <a><img src="https://resizing.flixster.com/88ROGIPaGF0h8d6BrQRnHAdCZUU=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzLzg2ZGFkZWQyLTIyYTYtNGE4OS1iZDNlLTc4NmY5YjQwNGE4Zi53ZWJw" height="200px" /> </a>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
